
Esamples/MCUploaderServer/.vs/MCUploaderServer/v16/.suo
*.db
Esamples/MCUploaderServer/.vs/MCUploaderServer/v16/Browse.VC.opendb
Esamples/MCUploaderServer/.vs/MCUploaderServer/v16/ipch/AutoPCH/d9d03143e6a9008b/MCUPLOADERSERVER.ipch
Esamples/MCUploaderServer/.vs/MCUploaderServer/v16/ipch/AutoPCH/e431d34d1a2ee6b/.MCUPLOADERSERVER.VSARDUINO.ipch
Esamples/MCUploaderServer/MCUploaderServer.sln
Esamples/MCUploaderServer/MCUploaderServer.vcxproj
Esamples/MCUploaderServer/MCUploaderServer.vcxproj.filters
Esamples/MCUploaderServer/MCUploaderServer.vcxproj.user
Esamples/MCUploaderServer/__vm/.MCUploaderServer.vsarduino.h
Esamples/MCUploaderServer/src/arduino folders read me.txt
